$brand-gray:rgb(214, 214, 214);

#bgimg{
    background: url(/images/bgimg.jpg)no-repeat center center/cover;
}
nav{
    min-height: 70px !important;
    height: 10vh!important;
}
#sidebar::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
#sidebar::-webkit-scrollbar {
    width: 5px;
  }
  
#sidebar::-webkit-scrollbar-thumb {
    background: linear-gradient( 83.2deg,  rgba(150,93,233,1) 19%, rgba(99,88,238,1) 80% );
    border-radius: 25px;
    width: 3px;
  }
#pageholder::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
#pageholder::-webkit-scrollbar {
    width: 5px;
  }
  
#pageholder::-webkit-scrollbar-thumb {
    background: linear-gradient( 83.2deg,  rgba(150,93,233,1) 19%, rgba(99,88,238,1) 80% );
    border-radius: 25px;
    width: 3px;
  }
#sidebar{
    height: 90vh;
    overflow-y: scroll;
    background-color: rgba(240, 240, 240, 0.95) !important;
}

#pageholder{
    width: 80%!important;
    overflow-y: scroll;
    background-color: rgba(240, 240, 240, 0.65) !important;
    @media screen and (max-width:420px) {
        width: 95% !important;
    }
    h2{
        font-size: 26px;
        font-weight: 400;
    }
}
.fa-align-left{
    font-size: 28px !important;
    font-weight: 700 !important;
}
.brand-name{
    font-size: 24px !important;
    font-weight: 500 !important;
    letter-spacing: 1.5px !important;
}
.new-ul li a:focus , .new-ul li a.active{
    background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 19%, rgba(99,88,238,1) 80% );
}
.new-ul li{
   padding: 4px !important;
    a{
    border-radius: 20px !important;
    &:hover{
        background-color: $brand-gray;
    }
}
}


// this is main section 

.tablehel{
    overflow: scroll;
}
.tablehel::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
.tablehel::-webkit-scrollbar {
    height: 5px;
  }
  
.tablehel::-webkit-scrollbar-thumb {
    background: linear-gradient( 83.2deg,  rgba(150,93,233,1) 19%, rgba(99,88,238,1) 80% );
    border-radius: 25px;
    height: 3px;
  }
  .dt-button, .buttons-html5{
    background-color: #4650dd;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    &:hover{
      background-color: #3d46c2;
    }
  }

  .selection{
    display: none;
  }

  // this is for recharghis
  .badge-success{
     color:green !important;
   }
   .badge-info{
     color: red !important;
   }


   .resbbps{
     overflow: scroll;
   }
   .resbbps::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
.resbbps::-webkit-scrollbar {
    height: 5px;
  }
  
.resbbps::-webkit-scrollbar-thumb {
    background: linear-gradient( 83.2deg,  rgba(150,93,233,1) 19%, rgba(99,88,238,1) 80% );
    border-radius: 25px;
    height: 3px;
  }



  // this area is for retailer e-c0 
  