.brand-name {
  font-size: 26px !important;
  font-weight: 500 !important;
}

.new-ul li a:focus, .new-ul li a.active {
  background-image: linear-gradient(83.2deg, #965de9 10.8%, #6358ee 94.3%);
}

.new-ul li a {
  border-radius: 15px !important;
}
