.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    border: none;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient( 83.2deg,  rgba(150,93,233,1) 19%, rgba(99,88,238,1) 80% );
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient( 83.2deg,  rgba(150,93,233,1) 19%, rgba(99,88,238,1) 80% );
  }

  .sbtn{
    background: linear-gradient( 83.2deg,  rgba(150,93,233,1) 19%, rgba(99,88,238,1) 80% );
    border: none;
  }
  @media (min-width: 768px) {
    .gradient-form {
      height: 100vh !important;
    }
  }
  @media (min-width: 769px) {
    .gradient-custom-2 {
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
    }
  }